@model IEnumerable<Messaging_Portal.Models.ContactViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table id="example1" class="table table-bordered ">
    <thead class="table-avatar" style="color:#656565;text-align:center">
        <tr>
            <th><i class="icon-color fa fa-sort-numeric-down"></i> #</th>
            <th><i class="icon-color fa fa-sort-alpha-down"></i> Name</th>
            <th><i class="icon-color fa fa-phone"></i> Phone</th>
            <th><i class="icon-color fa fa-envelope"></i> Email</th>
            <th><i class="icon-color fa fa-address-card"></i> Address</th>
            <th><i class="icon-color fa fa-calendar-check"></i> DOB</th>
            <th><i class="icon-color fa fa-users"></i> Subscribers</th>
            <th><i class="icon-color fa fa-check"></i> Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @(i + 1)
                </td>
                <td style="text-align:center">
                    @{
                        var name = item.FirstName + " " + item.LastName;
                    }
                    @name
                </td>
                <td style="text-align:center">
                    @item.Phone
                </td>
                <td style="text-align:center">
                    @item.Email
                </td>
                <td style="text-align:center">
                    @item.Address
                </td>
                <td style="text-align:center">
                    @item.DateOfBirth
                </td>
                <td style="text-align:center">
                    @i
                </td>
                <td class="project-actions text-right">                    
                    <button class="btn btn-outline-success btn-sm" onclick="loadView('/Subscribers/EditContact','Modal-xl','ModalxlContent','1')">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Edit
                    </button>
                    <button class="btn btn-outline-danger btn-sm" onclick="loadView('/Subscribers/DeleteContact','Modal-xl','ModalxlContent','1')">
                        <i class="fas fa-trash">
                        </i>
                        Delete
                    </button>
                </td>
            </tr>
            i += 1;
        }
    </tbody>
    <tfoot>
        <tr>
            <th><i class="icon-color fa fa-sort-numeric-down"></i> #</th>
            <th><i class="icon-color fa fa-sort-alpha-down"></i> Name</th>
            <th><i class="icon-color fa fa-phone"></i> Phone</th>
            <th><i class="icon-color fa fa-envelope"></i> Email</th>
            <th><i class="icon-color fa fa-address-card"></i> Address</th>
            <th><i class="icon-color fa fa-calendar-check"></i> DOB</th>
            <th><i class="icon-color fa fa-users"></i> Subscribers</th>
            <th><i class="icon-color fa fa-check"></i> Actions</th>
        </tr>
    </tfoot>
</table>
<script>
    $(function() {

        $("#example1").DataTable({
            lengthMenu: [
                [10, 25, 50, 100, -1],
                [10, 25, 50, 100, 'All'],
            ],
            "responsive": true, "lengthChange": true, "autoWidth": false,
            "buttons": [
                {
                    extend: 'copy',
                    title: 'Contacts',
                    text: window.copyButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'csv',
                    title: 'Contacts',
                    text: window.csvButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'excel',
                    title: 'Contacts',
                    text: window.excelButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Contacts',
                    text: window.pdfButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'print',
                    title: 'Contacts',
                    text: window.printButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'colvis',
                    title: 'Contacts',
                    text: window.colvisButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
            ]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>